.chat{
    display: flex;
    flex-direction: column;
}

.chat-description {
    margin-top: 2vh;
}

.chat-message {
    margin-top: 2vh;
}

.chat-message__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-message__address__choice {
    display: flex;
    align-items: center;
}

.chat-message__address__choice span {
    background: #F9F9F9;
    border-radius: 8px;
    padding: 12px;
    width: 10vw;
}

.chat-message__address__choice__select select {
    width: 10vw;
    padding: 12px;
    border: none;
    background: #F9F9F9;
    border-radius: 8px;
    margin-right: 6vw;
}


.chat-message__address__message {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.chat-message__address__message__form__text {
    width: 80vw;
    min-height: 30vh;
    padding: 2vw;
    border-radius: 10px;
    cursor: text;
    background: #F9F9F9;
    outline: none;
    box-sizing: border-box;
}

.chat-message__address__message span{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end
}

.chat-message__address__message button {
    margin-top: 2vh;
    height: 5vh;
    width: 20vw;
}

@media (max-width: 500px) {
    .chat-message {
        margin-top: 2vh;
    }

    .chat-header {
        font-size: 36px
    }

    .chat-message__address {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .chat-message__address__choice {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        margin-top: 2vh;
    }

    .chat-message__address__choice__select {
        width: 100%;
    }

    .chat-message__address__choice__select select {
        width: 100%;
        margin-right: 0;
    }

    .chat-message__address__choice span {
        margin-right: 0;
        margin-top: 1vh;
        width: 100%;
        box-sizing: border-box;
    }

    .chat-message__address__message {
        margin-top: 1vh;
    }

    .chat-message__address__message__form__text {
        min-height: 30vh;
        padding: 2vw;
        border-radius: 10px;
        cursor: text;
        background: #F9F9F9;
        outline: none;
        width: 100%;
    }

    .chat-message__address__message span{
        width: 100%;
    }

    .chat-message__address__message button{
        width: 100%;
    }
}