.left-column {
    display: flex;
    flex-direction: column;
    width: 6.5vw;
    max-width: 100px;
    height: 95vh;
    position: relative;
}
.left-column.rotated {
    z-index: 100;
    width: 400px;
    max-width: 400px;
    position: absolute;

}
.leftbar {
    display: none;
}
.leftbar.active {
    display: flex;
    flex-direction: column;
    width: 6.5vw;
    max-width: 100px;
    height: 95vh;
    position: relative;
}

.logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 52px;
}

.left-column__icon {
    cursor: pointer;
    margin: 20px 0 20px 0;
    width: auto;
    display: flex;
    justify-content: center;
}

.left-column__icon.active {
    justify-content: flex-start;
    padding-left: 1.7vw;
    align-items: center;
}

.icon.active {
    filter: invert(45%) sepia(91%) saturate(286%) hue-rotate(93deg);
}

.left-column__icon__arrow {
    cursor: pointer;
    width: 15px;
    height: 26px;
}

.left-column__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .left-column {
        display: none;
    }
}
@media (max-height: 700px) {
    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .left-column__icon {
        margin: 10px 0 10px 0;
    }
}
@media (max-height: 600px) {
    .logo {
        padding-top: 12px;
        padding-bottom: 10px;
    }
    .left-column__icon {
        margin: 10px 0 10px 0;
    }
}
@media (max-height: 500px) {
    .logo {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .left-column__icon {
        margin: 5px 0 5px 0;
    }
}

.leftbar-item {
    display: none
}
.leftbar-item.active {
    display: flex;
    margin-left: 20px;
    width: 100%;
}

/* leftbar.css */

.left-column__icon__arrow.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s;
    margin-left: 0.6vw;
}
@media (max-width: 900px) {
    .left-column__icon__arrow.rotated {
        margin-left: 1vw;
    }
}
