.message {
    width: 100%;
}

.message__container {
    width: 100%;
    margin-top: 2vh;
    box-sizing: border-box;
}

.message__container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message__container__header span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
}

.message__container__content {
    margin-top: 2.5vh;
}

.message__container__button {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 2.5vh;
    font-size: 30px;
}

.message__container__button button {
    width: 18%;
}

@media (max-width: 500px) {
    .message__container__button button {
        width: 100%;
    }

    .message__container__header {
        display: flex;
    }

    .message__container__header span{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 10vw;
    }
}

@media (max-width: 400px) {
    .message__header {
        font-size: 38px
    }
}

