.main-container {
    display: flex;
    width: 100%;
    margin-top: 24px;
    gap: 20px;
    height: 100%;
    overflow-y: auto;
}

.main-container__column1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container__column2 {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container__column1__content1 {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.main-container__column1__content1__text {
    margin-bottom: 30px;
}

.main-container__column1__content1__arrow {
    position: absolute;
    bottom: 55px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: #73AF67;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 930px) {
    .main-container__column1__content1__arrow {
        bottom: 30px;
        right: 40px;
    }
}

.main-container__column1__content1__arrow img {
    width: 24px;
    height: 24px;
}

.main-container__column1__content2 {
    margin-top: 20px;
    box-sizing: border-box;
}

.main-container__column1__content2__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container__column1__content2__header__arrow {
    width: 24px;
    height: 24px;
}

.main-container__column1__content3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    height: 30%;
}

.main-container__column1__content3__description {
    margin-top: 20px;
    flex-grow: 1;
}

.main-container__column1__content3__button-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.main-container__column1__content3__button-container button {
    width: 100%;
    font-size: 18px;
}

.main-container__column1__content3__button-container button:hover {
    background: #6b8d61;
}
/* //Left block */

/* Right block */
.main-container__column2__content1__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-container__column2__content1__header__button-container {
    width: 40%;
    height: 56px;
}

.main-container__column2__content1__header__button-container button {
    width: 100%;
    height: 56px;
}

.active-record {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9F9F9;
    border-radius: 10px;
    margin-top: 6vh;
    width: 100%;
    box-sizing: border-box;
}

.active-record__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.active-record__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.active-record__info__main {
    display: flex;
    justify-content: space-between;
}

.active-record__name {
    font-weight: bold;
    font-size: 18px;
}

.active-record__position {
    font-size: 14px;
    color: #777;
}

.active-record__time-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.active-record__progress {
    width: 100%;
    height: 24px;
    background: #E7D5E7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-record__time {
    font-size: 14px;
    color: #000;
    right: 10px;
}

.active-record__date-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.active-record__date {
    font-size: 14px;
    color: #777;
}

.active-record__icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.main-container__column2__content2 {
    margin-top: 10px;
}

.main-container__column2__content2__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F9F9F9;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2vw;
    border-radius: 10px;
}
/* //Right block */


@media (max-width: 640px) {
    .main-container {
        flex-direction: column;
        margin-top: 80px;
    }

    .main-container__column1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-container__column2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-container__column1__content2 {
        margin-top: 20px;
    }

    .main-container__column1__content3 {
        height: 100px;
        min-height: 200px;
    }
    .main-container__column1__content1__arrow {
        bottom: 38px;
    }


    .main-container__column2__content1__header__button-container {
        display: none;
    }
}
@media (max-width: 900px) {
    .main-container__column2__content2 {
        margin-top: 20px;
    }

    .main-container__column2__content2__block {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .main-container__column2__content2__block__name {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        width: 100%;
    }

    .main-container__column2__content2__block__text {
        margin-top: 18px;
        display: flex;
    }

    .main-container__column2__content2__block__date {
        margin-top: 18px;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 1800px) {
    .main-container__column2__content2 {
        margin-top: 10px;
    }

    .main-container__column1__content3 {
        height: auto;
    }

    .main-container__column2__content2__block {
        margin-top: 10px;
    }

    .active-record {
        margin-top: 3vh;
    }
}

@media (max-width: 380px) {
    .main-container__column1__content3__description {
        font-size: 14px;
        margin-top: 8px;
    }
    .main-container__column1__content3__header {
        font-size: 20px;
    }
    .main-container__column1__content3__button-container {
        padding-top: 8px;
    }
    .main-container__column1__content3__button-container button {
        padding: 8px;
    }
}
.active-record__header {
    position: relative;
}

.active-records-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    display: none;
    box-sizing: border-box;
}

.active-records-dropdown.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dropdown-item {
    padding: 10px;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.active-record__header.active img {
    transform: rotate(180deg);
}

