.discount-card__description1 {
    margin-top: 5vh;
}

.discount-card__description2 {
    margin-top: 5vh;
}

.discount-card__advantages {
    margin-top: 5vh;
}

.discount-card__advantages__list li{
    margin-top: 3vh;
}

