.main-container__content2 {
    width: 83vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container__content2__content {
    display: flex;
    margin-top: 1vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.main-container__content2__content__science-data {
    display: flex;
    align-items: center;
}
.main-container__content2__content__science-data span {
    margin-right: 1vw;
}

@media (max-width: 500px) {
    .main-container {
        width: 100%;
    }

    .main-container__content2__content {
        padding: 55px 25px 55px 25px;
    }

    .main-container__content2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}