.header {
    display: flex;
    height: 8vh;
    max-height: 120px;
    min-height: 50px;
    width: 100%;
    gap: 10px;
}

.search-container {
    width: 75%;
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    padding: 8px 26px 8px 47px;
    background-color: #FFFFFF;
    font-size: 24px;
    font-family: 'Montserrat-Bold', sans-serif;
}

.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 8px;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.bell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.profile-card {
    position: relative;
    justify-content: space-between;
    width: 33%;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 16px 24px;
    gap: 16px;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}
.profile-card.invisible {
    border-radius: 10px 10px 0 0;
}

.check-mark-icon {
    width: 29px;
    height: 12px;
    cursor: pointer;
}
.check-mark-icon {
    transition: transform 0.3s ease-in-out;
}

.check-mark-icon.invisible {
    transform: rotate(180deg);
}
.dropdown-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.avatar {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #555;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.header-mobile__container {
    display: flex;
    align-items: center;
}

.header-mobile__container__notification {
 margin-right: 20px;
}
/* Окно */
.profile-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    z-index: 10000;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.profile-dropdown.visible {
    display: block;
}

.profile-dropdown div {
    padding: 0 24px 16px 24px;
}

.profile-card__change-photo {
    margin-top: 40px
}

.profile-card__change-password {
    margin-top: 10px
}

.profile-card__logout {
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.profile-card__logout img {
    margin-right: 20px;
}

/* окно уведомлений  */
.bell-container {
    position: relative;
    cursor: pointer;
}

.notifications-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 10000;
    width: 28vw;
    max-width: 550px;
    border-radius: 10px;
    padding: 30px;
    height: 450px;
    color: black;
}

.notifications-dropdown.visible {
    display: block;
}

.notifications-dropdown__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notifications-dropdown__header span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications-dropdown__header span img{
   width: 25px;
}

.notifications-dropdown__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.header-mobile__logout .icon:first-child {
    margin-right: 10px;
}

@media (max-width: 1980px) {
    .notifications-dropdown {
        width: 26vw;
    }
}

@media (max-width: 950px) {
    .notifications-dropdown {
        width: 400%;
    }
}

@media (max-width: 500px) {
    #header-container {
        position: fixed;
        z-index: 10000;
        display: flex;
        justify-content: space-between;
        background: #FFFAF3;
        width: 90%;
        top: 0;
        height: 100px;
    }
    #header-container > * {
        flex: 1  20%;
    }
}