.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    max-width: 1980px;
}

.login__container {
    width: 850px;
    height: 850px;
    padding: 100px;
    box-sizing: border-box;
}

.login__container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__container__close-btn {
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin-top: 95px;
}

.login__form-login .login__form-password {
    width: 100%;
}

.login__form-password {
    margin-top: 60px;
}

.login__form input{
    width: 100%;
    padding: 31px 0 32px 62px;
    border: none;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000000;
}

.login__btn {
    margin-top: 142px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    height: 74px;
}

.login__to-register-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 45px;
}

@media (max-width: 1200px) {
    .login__container {
        width: 650px;
        height: 650px;
        padding: 60px;
    }

    .login__form {
        margin-top: 80px;
    }

    .login__form input{
        padding: 24px 0 24px 42px;
    }

    .login__form-password {
        margin-top: 50px;
    }

    .login__btn {
        height: 60px;
        margin-top: 80px;
    }
}

@media (max-width: 700px) {
    .login__container {
        width: 350px;
        height: 580px;
        padding: 30px;
    }
}

@media (max-width: 300px) {
    .login__container {
        width: 200px;
        height: 500px;
        padding: 15px;
    }
}
