.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    max-width: 1980px;
}

.login__container {
    width: 850px;
    height: 850px;
    padding: 100px;
    box-sizing: border-box;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin-top: 95px;
}

.login__form-group .login__form-password {
    width: 100%;
}

.login__form-password {
    margin-top: 60px;
}

.login__form-group input,
.login__form-group select {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #F9F9F9;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.login__form-group input[type="date"] {
    padding: 11px;
}

.login__form-row {
    display: flex;
    gap: 1rem;
}

.login__form-row > * {
    flex: 1;
}

.login__container__close-btn {
    cursor: pointer;
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.login__btn {
    margin-top: 1rem;
    width: 100%;
    padding: 14px;
}

.login__to-register-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .login__container {
        width: 650px;
        height: 650px;
        padding: 60px;
    }
}

@media (max-width: 700px) {
    .login__container {
        width: 350px;
        height: 350px;
        padding: 30px;
    }
}

@media (max-width: 400px) {
    .login__container {
        width: 200px;
        height: 300px;
        padding: 15px;
    }
}
