.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.review__container {
    max-width: 500px;
    width: 100%;
    padding: 4.07vw 4.08vw 4.07vw 4.08vw;
    box-sizing: border-box;
}

.review__container__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.review__container__header span {
    display: flex;
    align-items: center;
}

.review__container__header span div {
    margin-left: 2vw;
}

.review__container__content__text {
    background-color: #F9F9F9;
    margin-top: 2vh;
    height: 38vh;
    padding: 2vw;
    cursor: text;
    outline: none;
    border: none;
    overflow-y: auto;
}

.review__container__button {
    margin-top: 2vh;
    width: 100%;
}

.review__container__button button {
    width: 100%;
}

@media (max-width: 500px) {
    .review__container {
        padding: 50px
    }

    .review__container__content__text {
        height: 270px;
        overflow-y: auto;
    }

    .review__container__button button {
        font-size: 20px;
    }

    .review__container__button {
        height: 74px;
    }
    .review__container__button button{
        height: 74px;
    }
}

