.main-container__content3__description {
    margin-top: 2vh;
}

.main-container__content3__message-container {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.main-container__content3__message-container__form__text {
    width: 100%;
    box-sizing: border-box;
    min-height: 30vh;
    padding: 2vw;
    border-radius: 10px;
    cursor: text;
    background: white;
    outline: none;
}

.main-container__content3__message-container span{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
}

.main-container__content3__message-container button {
    margin-top: 2vh;
    height: 5vh;
    width: 20vw;
}

@media (max-width: 500px) {
    .main-container__content3__message-container button {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .main-container__content3__header {
        font-size: 38px
    }
}